</div>

<div id="profile_banner" class="container-fluid">

  <div class="parallax-container">
    <div class="parallax">
      <%= image_tag "dawn.jpg" %>
    </div>
  </div>

  <div class="user_meta container">
    <div class="profile_picture">
      <%= image_tag profile_picture(@profile.user, :large) %>
    </div>

    <div class="user_name z-depth-3 <%= @profile.user.color_scheme_with_font_color %> center-align" title="<%= @profile.user.name %>">
      <h4 class="hide-on-small-only single_line prevent_overflow"><%= @profile.user.name %></h4>
      <h6 class="hide-on-med-and-up single_line prevent_overflow"><%= @profile.user.name %></h6>
    </div>
  </div>

</div>

<div class="container">

<%= friendship_actions %>

<%= write_post_action %>

<%= render(@posts) || no_posts_yet_message %>
