</div>
<div class="page_heading z-depth-1">
  <div class="container">
    <h3>Login</h3>
  </div>
</div>

<div class="container">

<div class="section"></div>

<%= form_tag '/login' do %>

  <div class="row">
     <div class="input-field col s12">
       <%= text_field_tag :email %>
       <%= label_tag :email %>
     </div>
   </div>

   <div class="row">
     <div class="input-field col s12">
       <%= password_field_tag :password %>
       <%= label_tag :password %>
     </div>
   </div>

   <div class="row">
     <div class="col s12">
       <button class="btn waves-effect waves-light primary_color" type="submit" name="action">
         <i class="mdi mdi-key left"></i>
         Login
       </button>
     </div>
   </div>

<% end %>
