<div style="width: 100%; background-color: lightgray;">

<p>
  <strong>
    <%= comment.author.name %>
    wrote on
    <%= render_timestamp(comment.created_at) %>
  </strong>
</p>

<p>
  <%= comment.content %>
</p>

<p>
  Likes: <%= comment.likes_count %>
</p>

<% if comment.likable_by?(@current_user) %>
  <%= like_action comment %>
<% elsif comment.unlikable_by?(@current_user) %>
  <%= unlike_action comment %>
<% end %>


<% if comment.deletable_by?(@current_user) %>
  <%= link_to 'Delete Comment', post_comment_path(post_id: comment.post_id, id: comment.id), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

</div>
