<div class="comment">

  <div class="meta">
    <%# PROFILE PICTURE %>
    <%= link_to profile_path comment.author do %>
      <div class="author_image z-depth-1">
        <%= image_tag profile_picture comment.author.username %>
      </div>
    <% end %>

  </div>

  <div class="content">

    <div class="with_padding">

      <%# DELETE ACTION %>
      <% if comment.deletable_by?(@current_user) %>
        <div class="administrative-actions right">
          <!-- Dropdown Trigger -->
          <%= link_to '#',
                class: "dropdown-button btn-flat tooltipped",
                data: {
                  activates: "dropdown-#{comment.id}",
                  position: 'left', delay: '50', tooltip: 'Show Options'
                } do %>
            <%= material_icon.settings %>
          <% end %>

          <!-- Dropdown Structure -->
          <ul id='dropdown-<%= comment.id %>' class='dropdown-content'>
            <li>
              <%= link_to 'Delete Comment', post_comment_path(post_id: comment.post_id, id: comment.id), method: :delete, data: { confirm: 'Are you sure?' } %>
            </li>
          </ul>
        </div>
      <% end %>

      <%# TIMESTAMP %>
      <div class="timestamp right">
        <%= render_timestamp(comment.created_at) %>
      </div>

      <%# AUTHOR NAME %>
      <%= link_to profile_path comment.author do %>
        <strong>
        <%= comment.author.name %>
        </strong>
      <% end %>

      <%# CONTENT %>
      <%= simple_format h(comment.content) %>
    </div>


    <%# LIKE & UNLIKE %>
    <% if comment.likable_by?(@current_user) %>
      <%= like_action comment, "minimal" %>
    <% elsif comment.unlikable_by?(@current_user) %>
      <%= unlike_action comment, "minimal" %>
    <% end %>
  </div>

</div>
