<div class="comment">

  <div class="meta">
    <%# PROFILE PICTURE %>
    <%= link_to_profile comment.author, class: "user_image z-depth-1 gray" do %>
      <%= image_tag profile_picture(comment.author) %>
    <% end %>

  </div>

  <div class="content">

    <%# DELETE ACTION %>
    <% if comment.deletable_by?(@current_user) %>
      <div class="administrative-actions right">
        <%= options_dropdown_button comment.id do %>
          <li>
            <%= link_to delete_comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="mdi mdi-delete"></i> Delete Comment
            <% end %>
          </li>
        <% end %>
      </div>
    <% end %>

    <%# TIMESTAMP %>
    <div class="timestamp right">
      <%= render_timestamp(comment.created_at) %>
    </div>

    <%# AUTHOR NAME %>
    <%= link_to_profile comment.author, class: 'author_name single_line prevent_overflow black-text', title: "#{comment.author.name}" do %>
      <strong>
      <%= comment.author.name %>
      </strong>
    <% end %>

    <%# CONTENT %>
    <%= simple_format h(comment.content) %>

    <%# LIKE & UNLIKE %>
    <% if comment.likable_by?(@current_user) %>
      <%= like_action comment, "minimal" %>
    <% elsif comment.unlikable_by?(@current_user) %>
      <%= unlike_action comment, "minimal" %>
    <% end %>
  </div>

</div>
