<%= form_for(@private_conversation) do |f| %>
  <div class="page_heading z-depth-1">
    <h3>New Conversation</h3>
    <div class="row no_margin_bottom">
      <div class="input-field col s12">
        <%= f.label :recipient, "Recipient" %>
        <%= f.text_field :recipient %>
      </div>
    </div>
  </div>

  <div id="chat_body">
    <% if @private_conversation.errors.any? %>
      <%#o filter_errors private_conversation %>
      <div id="error_explanation">
        <h2><%= pluralize(@private_conversation.errors.count, "error") %> prohibited this message from being sent:</h2>

        <ul>
        <% @private_conversation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div id="compose_message" class="z-depth-1">
    <div class="section"></div>

    <%= f.fields_for :messages, @private_message do |message| %>
      <div class="row no_margin_bottom">
        <div class="input-field col s12">
          <%= message.text_area :content, class: "materialize-textarea" %>
          <%= message.label :content, "Message" %>
        </div>
      </div>
    <% end %>

    <div class="row no_margin_bottom">
      <div class="col s12">
        <button class="btn waves-effect waves-light" type="submit" name="action">
          Create Conversation<i class="material-icons right">send</i>
        </button>
      </div>
    </div>

  </div>
<% end %>
