<div class="head">
  <%= link_to communities_path, class: 'back waves-light waves-effect' do %>
    <%= material_icon.arrow_back %> Back
  <% end %>

  <%= image_tag "dawn.jpg", class: 'responsive-img' %>

  <%= link_to community_path(@community), class: 'title waves-light waves-effect' do %>
    <%= @community.name %>
  <% end %>

</div>

<div class="content">

  <%= nav_link "<span class='content'>Decisions</span>".html_safe, community_decisions_path(@community), "democracy/community/decisions" %>

</div>
