</div>

<div id="profile_banner" class="container-fluid">

  <div class="parallax-container">
    <div class="parallax">
      <%= image_tag "dawn.jpg" %>
    </div>
  </div>

  <div class="user_meta container">
    <div class="row">
      <div class="col s12">
        <div class="wrapper z-depth-2">
          <div class="profile_picture z-depth-2 grey">
            <%= image_tag profile_picture(@user, :large) %>
          </div>
          <div class="user_name z-depth-3 <%= @user.color_scheme_with_font_color %> center-align" title="<%= @user.name %>">
            <div class="heading single_line prevent_overflow">
              <strong><%= @user.name %></strong>
            </div>
          </div>
          <div class="content white">
            <div class="bio">
              <p>
                Placeholder for bio.
              </p>
            </div>
            <% if @current_user %>
            <div class="actions">
              <%= friendship_actions %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container">

<%= write_post_action %>

<%= render(@posts) || no_posts_yet_message %>
