<%
  # navigation is not fluid or fixed unless explicitly set
  fluid ||= false
  fixed ||= false
%>

<nav id="main_navigation" class="<%= fixed ? "fixed " : "" %>primary_color">
  <div class="container<%= fluid ? "-fluid" : "" %>">
    <div class="nav-wrapper row">
      <div class="col s12">
        <%= link_to root_path, class: 'brand-logo' do %>
          <%= image_tag "logo_bold_100p.png" %> Upshift
        <% end %>
        <% if @current_user %>
          <a id="toggle_mobile_navigation" href="#" data-activates="mobile_navigation" class="button-collapse">
            <%= material_icon.menu %>
          </a>
        <% end %>

        <% if @current_user %>
          <ul class="right hide-on-med-and-down">

            <li>
              <%= link_to profile_path(@current_user), class: 'tooltipped', data: {position: 'bottom', delay: '50', tooltip: 'My Profile'} do %>
                <%= material_icon.account_circle %>
              <% end %>
            </li>

            <li>
              <%= link_to private_conversations_home_path, class: 'tooltipped', data: {position: 'bottom', delay: '50', tooltip: 'Conversations'} do %>
                <%= material_icon.chat_bubble %>
                <% if @current_user.unread_private_conversations.size > 0 %>
                  <span class="white red-text z-depth-1 badge">
                    <%= @current_user.unread_private_conversations.size %>
                  </span>
                <% end %>
              <% end %>
            </li>

            <li>
              <%= link_to logout_path, class: 'tooltipped', data: {position: 'bottom', delay: '50', tooltip: 'Logout'} do %>
                <%= material_icon.power_settings_new %>
              <% end %>
            </li>

          </ul>
          <ul id="mobile_navigation" class="side-nav" >

            <%= render partial: "shared/side_navigation" %>

            <li><div class="divider"></div></li>

            <li>
              <%= link_to profile_path(@current_user) do %>
                <%= material_icon.account_circle %>
                <span class="content">
                  My Profile
                </span>
              <% end %>
            </li>

            <li>
              <%= link_to private_conversations_home_path do %>

                <%# unread conversations indicator %>
                <% if @current_user.unread_private_conversations.size > 0 %>
                  <span class="red white-text badge">
                    <%= @current_user.unread_private_conversations.size %>
                  </span>
                <% end %>

                <%= material_icon.chat_bubble %>
                <span class="content">
                  Conversations
                </span>
              <% end %>
            </li>

            <li>
              <%= link_to logout_path do %>
                <%= material_icon.power_settings_new %>
                <span class="content">
                  Logout
                </span>
              <% end %>
            </li>

          </ul>
        <% end %>
      </div>
    </div>
  </div>
</nav>
