<%
  # navigation is not fluid unless explicitly set
  fluid ||= false
%>

<nav id="main_navigation" class="red">
  <div class="container<%= fluid ? "-fluid" : "" %>">
    <div class="nav-wrapper row">
      <div class="col s12">
        <%= link_to root_path, class: 'brand-logo' do %>
          Naropa University
        <% end %>

        <% if @current_user %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">

            <li>
              <%= link_to profile_path(@current_user), class: 'tooltipped', data: {position: 'bottom', delay: '50', tooltip: 'My Profile'} do %>
                <%= image_tag "fwoelm.jpg", class: 'responsive-img circle left' %> Hi, <%= @current_user.name %>!
              <% end %>
            </li>

            <li>
              <%= link_to logout_path, class: 'tooltipped', data: {position: 'bottom', delay: '50', tooltip: 'Logout'} do %>
                <%= material_icon.power_settings_new %>
              <% end %>
            </li>

          </ul>
        <% end %>
      </div>
    </div>
  </div>
</nav>
