<%
  # navigation is not fixed unless explicitly set
  fixed ||= false
%>

<nav id="main_navigation" class="<%= fixed ? "fixed " : "" %>primary-color primary-color-text">
  <div class="container-fluid">
    <div class="nav-wrapper row">
      <div class="col s12">
        <%= link_to root_path, class: 'brand-logo' do %>
          <%= image_tag "logo_bold_100p.png" %> Upshift
        <% end %>
        <a id="toggle_mobile_navigation" href="#" data-activates="mobile_navigation" class="button-collapse">
          <i class="mdi mdi-menu"></i>
        </a>

        <ul class="right hide-on-med-and-down">
          <li>
            <%= form_tag search_path, id: "search", class: "primary-color-text ignore-dirty", method: :get do %>
              <div class="input-field">
                <%= text_field_tag :query, @search_query, :type => "search" %>
                <%= label_tag :query do %>
                  <i class="mdi mdi-magnify"></i>
                <% end %>
                <i class="mdi mdi-close close"></i>
              </div>
            <% end %>
          </li>

          <% if @current_user %>

            <li>
              <%= link_to notifications_path, class: 'tooltipped', data: {position: 'bottom', delay: '50', tooltip: 'Notifications'} do %>
                <i class="mdi mdi-earth"></i>
                <% if @current_user.unread_notifications_count > 0 %>
                  <span class="highlight-color highlight-color-text z-depth-1 badge">
                    <%= @current_user.unread_notifications_count %>
                  </span>
                <% end %>
              <% end %>
            </li>

            <li>
              <%= link_to private_conversations_home_path, class: 'tooltipped', data: {position: 'bottom', delay: '50', tooltip: 'Conversations'} do %>
                <i class="mdi mdi-message"></i>
                <% if @current_user.unread_conversations_count > 0 %>
                  <span class="highlight-color highlight-color-text z-depth-1 badge">
                    <%= @current_user.unread_conversations_count %>
                  </span>
                <% end %>
              <% end %>
            </li>

            <li>
              <%= link_to_profile @current_user, class: 'tooltipped', data: {position: 'bottom', delay: '50', tooltip: 'My Profile'} do %>
                <%= image_tag profile_picture(@current_user), class: "img-responsive circle" %>
              <% end %>
            </li>

            <li>
              <%= link_to logout_path, class: 'tooltipped', data: {position: 'bottom', delay: '50', tooltip: 'Logout'} do %>
                <i class="mdi mdi-power"></i>
              <% end %>
            </li>

          <% else %>

            <li>
              <%= link_to login_path do %>
                <i class="mdi mdi-power right"></i>
                Login
              <% end %>
            </li>

          <% end %>

        </ul>
        <ul id="mobile_navigation" class="side-nav" >

          <% if @current_user %>

            <%= render partial: "shared/side_navigation" %>

            <li><div class="divider"></div></li>

            <%= nav_link "Search", search_path,  {:icon => "magnify"} %>

            <li>
              <%= link_to notifications_path do %>

                <%# unread notifications indicator %>
                <% if @current_user.unread_notifications_count > 0 %>
                  <span class="primary-color-text primary-color badge">
                    <%= @current_user.unread_notifications_count %>
                  </span>
                <% end %>

                <i class="mdi mdi-earth"></i>
                <span class="content">
                  Notifications
                </span>
              <% end %>
            </li>

            <li>
              <%= link_to private_conversations_home_path do %>

                <%# unread conversations indicator %>
                <% if @current_user.unread_conversations_count > 0 %>
                  <span class="primary-color-text primary-color badge">
                    <%= @current_user.unread_conversations_count %>
                  </span>
                <% end %>

                <i class="mdi mdi-message"></i>
                <span class="content">
                  Conversations
                </span>
              <% end %>
            </li>

            <li>
              <%= link_to_profile @current_user do %>
                <%= image_tag profile_picture(@current_user), class: "img-responsive circle left" %>
                <span class="content">
                  My Profile
                </span>
              <% end %>
            </li>

            <li>
              <%= link_to logout_path do %>
                <i class="mdi mdi-power"></i>
                <span class="content">
                  Logout
                </span>
              <% end %>
            </li>

          <% else %>

            <%= nav_link "Home",  root_path,  {:icon => "home"} %>
            <%= nav_link "Login", login_path, {:icon => "power"} %>
            <%= nav_link "Search", search_path,  {:icon => "magnify"} %>

          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
