<div style="width: 100%; background-color:lightgray;">
  <%= form_for(private_message) do |f| %>
    <% if private_message.errors.any? %>
      <% filter_errors private_message %>
      <div id="error_explanation">
        <h2><%= pluralize(private_message.errors.count, "error") %> prohibited this private message from being saved:</h2>

        <ul>
        <% private_message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.hidden_field :private_conversation_id %>
    </div>

    <div class="field">
      <% if private_message.conversation.present? and not private_message.conversation.new_record? %>
        <%= f.hidden_field :recipient, :value => private_message.recipient_username %>
      <% else %>
        <%= f.label :recipient, "Recipient" %>
        <%= f.text_field :recipient, :value => private_message.recipient_username %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :content, "Message" %>
      <%= f.text_area :content %>
    </div>

    <div class="actions">
      <%= f.submit "Send Message" %>
    </div>
  <% end %>
</div>
