<div class="row">
  <%= form_for(
        @pending_newsletter_subscription,
        html: { id: 'create_subscription', class: 'col s12 ignore-dirty'},
        remote: true
      ) do |f| %>

    <div class="row">
      <div class="input-field col s12">
        <i class="mdi mdi-account-circle prefix"></i>
        <%= f.text_field :name %>
        <%= f.label :name %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="mdi mdi-email prefix"></i>
        <%= f.email_field :email %>
        <%= f.label :email, "Email" %>
      </div>
    </div>

    <div class="center-align">
      <button class="btn btn-large waves-effect waves-light primary-color primary-color-text" type="submit" name="action">
        <%= render partial: "shared/loading_indicator" %>
        Join Our Newsletter
        <i class="mdi mdi-send right"></i>
      </button>
    </div>

  <% end %>

  <% # success %>
  <div id="create_subscription_success" class="init-hidden">
    <p class="flow-text">Thank you for joining, <span class="name"></span>!
    Please check your inbox and confirm your subscription.</p>
  </div>

</div>
