<div class="row post-wrapper post_form">
  <div class="col s12">

    <div class="post z-depth-1">

      <%# PROFILE PICTURE %>
      <%= link_to profile_path @current_user do %>
        <div class="author_image z-depth-1 grey">
          <%= image_tag profile_picture @current_user.username %>
        </div>
      <% end %>

      <%# AUTHOR NAME %>
      <%= link_to profile_path @current_user do %>
        <div class="author_name z-depth-1 indigo white-text">
          <%= @current_user.name %>
        </div>
      <% end %>

      <%# CONTENT %>
      <div class="row content no_margin">
        <%= form_for post, class: "col s12"  do |f| %>

          <div class="row no_margin_bottom">
            <% if post.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

                <ul>
                <% post.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
          </div>

          <div class="row no_margin_bottom">
            <div class="input-field col s12 grey darken-4">
              <%= f.text_area :content, class: "materialize-textarea" %>
              <%= f.label :content, "What's on your mind?" %>
            </div>
          </div>

          <div class="row no_margin_bottom">
            <div class="col s12">
              <button class="btn waves-effect waves-light" type="submit" name="action">
                Post <i class="material-icons right">send</i>
              </button>
            </div>
          </div>

        <% end %>
      </div>

      <div class="actions row no_margin_bottom">

        <%# TIMESTAMP %>
        <div class="col s12 m6 offset-m6 right-align">
          <div class="fake_button">now</div>
        </div>
      </div>
    </div>

  </div>
</div>
