<div class="row post-wrapper">
  <div class="col s12">

    <div class="post z-depth-1">

      <%# DELETE POST %>
      <% if post.deletable_by?(@current_user) %>
        <div class="administrative-actions">
          <!-- Dropdown Trigger -->
          <%= link_to '#',
                class: "dropdown-button btn-flat tooltipped",
                data: {
                  activates: "dropdown-#{post.id}",
                  position: 'left', delay: '50', tooltip: 'Show Options'
                } do %>
            <i class="mdi mdi-settings"></i>
          <% end %>

          <!-- Dropdown Structure -->
          <ul id='dropdown-<%= post.id %>' class='dropdown-content'>
            <li>
              <%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            </li>
          </ul>
        </div>
      <% end %>

      <div class="author_profile_wrapper">
        <%# AUTHOR %>
        <div class="author_wrapper single_line">
          <%# AUTHOR PICTURE %>
          <%= link_to profile_path(post.author), class: "user_image z-depth-1 gray" do %>
            <%= image_tag post.author.profile_picture.url %>
          <% end %>

          <%# AUTHOR NAME %>
          <%= link_to profile_path(post.author),
                class: "name_badge single_line prevent_overflow z-depth-1 #{post.author.color_scheme_with_font_color}",
                title: "#{post.author.name}" do %>
              <%= post.author.name %>
          <% end %>
        </div><%

        if post.author.id != post.profile_owner.id
          %><div class="profile_owner_wrapper single_line">

            <i class="mdi mdi-chevron-right mdi-24px gray-text"></i>

            <%# PROFILE OWNER PICTURE %>
            <%= link_to profile_path(post.profile_owner), class: "user_image z-depth-1 gray" do %>
              <%= image_tag post.profile_owner.profile_picture.url %>
            <% end %>

            <%# PROFILE OWNER NAME %>
            <%= link_to profile_path(post.profile_owner),
                  class: "name_badge single_line prevent_overflow z-depth-1 #{post.profile_owner.color_scheme_with_font_color}",
                  title: "#{post.profile_owner.name}" do %>
                <%= post.profile_owner.name %>
            <% end %>
          </div>
        <% end %>
      </div>

      <%# CONTENT %>
      <div class="content">
        <%= simple_format h(post.content) %>
      </div>

      <div class="actions row no_margin_bottom">

        <%# LIKE & UNLIKE %>
        <div class="col s12 m6 no_padding">
        <% if post.likable_by?(@current_user) %>
          <%= like_action post, "sliding" %>
        <% elsif post.unlikable_by?(@current_user) %>
          <%= unlike_action post, "sliding" %>
        <% end %>
        </div>

        <%# TIMESTAMP %>
        <div class="col s12 m6 right-align no_padding">
          <%= link_to render_timestamp(post.created_at), post, class: "btn-flat waves-effect waves-red tooltipped", data: {position: 'bottom', delay: '50', tooltip: "Show post on a separate page"} %>
        </div>
      </div>
    </div>

    <!-- Comments -->
    <div class="comments-wrapper white z-depth-1">

      <%= render post.comments %>

      <%= write_comment_for_post_action post %>

    </div>

  </div>
</div>
