<div class="row post-wrapper">
  <div class="col s12">

    <div class="post z-depth-1">

      <%# DELETE POST %>
      <% if post.deletable_by?(@current_user) %>
        <div class="administrative-actions right">
          <!-- Dropdown Trigger -->
          <%= link_to '#',
                class: "dropdown-button btn-flat tooltipped",
                data: {
                  activates: "dropdown-#{post.id}",
                  position: 'left', delay: '50', tooltip: 'Show Options'
                } do %>
            <%= material_icon.settings %>
          <% end %>

          <!-- Dropdown Structure -->
          <ul id='dropdown-<%= post.id %>' class='dropdown-content'>
            <li>
              <%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            </li>
          </ul>
        </div>
      <% end %>

      <%# PROFILE PICTURE %>
      <%= link_to profile_path post.author do %>
        <div class="author_image z-depth-1 grey">
          <%= image_tag profile_picture post.author.username %>
        </div>
      <% end %>

      <%# AUTHOR NAME %>
      <%= link_to profile_path post.author do %>
        <div class="author_name z-depth-1 indigo white-text">
          <%= post.author.name %>
        </div>
      <% end %>

      <%# CONTENT %>
      <div class="content">
        <%= simple_format h(post.content) %>
      </div>

      <div class="actions row no_margin_bottom">

        <%# LIKE & UNLIKE %>
        <div class="col s12 m6">
        <% if post.likable_by?(@current_user) %>
          <%= like_action post, "sliding" %>
        <% elsif post.unlikable_by?(@current_user) %>
          <%= unlike_action post, "sliding" %>
        <% end %>
        </div>

        <%# TIMESTAMP %>
        <div class="col s12 m6 right-align">
          <%= link_to render_timestamp(post.created_at), post, class: "btn-flat waves-effect waves-red tooltipped", data: {position: 'bottom', delay: '50', tooltip: "Show post on a separate page"} %>
        </div>
      </div>
    </div>

    <!-- Comments -->
    <div class="comments-wrapper white z-depth-1">

      <%= render post.comments %>

      <%= write_comment_for_post_action post %>

    </div>

  </div>
</div>
