<div style="display:block; background-color: lightgray; padding: 10px 30px; margin-top:30px;">

<p>
  <strong>
    <%= post.author.name %>
    wrote on
    <%= link_to render_timestamp(post.created_at), post, :title => "Show post on a separate page" %>
  </strong>
</p>

<p>
  <%= post.content %>
</p>

<p>
  Likes: <%= post.likes_count %>
</p>

<% if post.likable_by?(@current_user) %>
  <%= like_action post %>
<% elsif post.unlikable_by?(@current_user) %>
  <%= unlike_action post %>
<% end %>


<% if post.deletable_by?(@current_user) %>
  <%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<hr/>

  <%= render post.comments %>
  <%= write_comment_for_post_action post %>

</div>
