<div class="row post-wrapper">
  <div class="col s12">

    <div class="post z-depth-1">

      <%# DELETE POST %>
      <% if post.deletable_by?(@current_user) %>
        <div class="administrative-actions">
          <%= options_dropdown_button post do %>
            <li>
              <%= link_to (post), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="mdi mdi-delete"></i> Delete Post
              <% end %>
            </li>
          <% end %>
        </div>
      <% end %>

      <div class="author_recipient_wrapper">
        <%# AUTHOR %>
        <div class="author_wrapper single_line">
          <%# AUTHOR PICTURE %>
          <%= link_to_profile post.author, {class: "user_image z-depth-1 gray"} do %>
            <%= image_tag profile_picture(post.author) %>
          <% end %>

          <%# AUTHOR NAME %>
          <%= link_to_profile post.author, {
                class: "name_badge single_line prevent_overflow z-depth-1 #{post.author.color_scheme_with_font_color}",
                title: "#{post.author.name}" } do %>
              <%= post.author.name %>
          <% end %>
        </div><%

        if post.author.id != post.recipient.id
          %><div class="recipient_wrapper single_line">

            <i class="mdi mdi-chevron-right mdi-24px gray-text"></i>

            <%# RECIPIENT PICTURE %>
            <%= link_to_profile post.recipient, class: "user_image z-depth-1 gray" do %>
              <%= image_tag profile_picture(post.recipient) %>
            <% end %>

            <%# RECIPIENT NAME %>
            <%= link_to_profile post.recipient, {
                  class: "name_badge single_line prevent_overflow z-depth-1 #{post.recipient.color_scheme_with_font_color}",
                  title: "#{post.recipient.name}" } do %>
                <%= post.recipient.name %>
            <% end %>
          </div>
        <% end %>
      </div>

      <%# CONTENT %>
      <div class="content">
        <%= simple_format h(post.content) %>
      </div>

      <div class="actions row no_margin">

        <%# LIKE & UNLIKE %>
        <div class="col s12 m6 no_padding">
        <% if post.likable_by?(@current_user) %>
          <%= like_action post, "sliding" %>
        <% elsif post.unlikable_by?(@current_user) %>
          <%= unlike_action post, "sliding" %>
        <% else %>
          <div class="fake_button">
            <i class="mdi mdi-thumb-up left"></i>
            <%= post.likes_count || 0 %>
          </div>
        <% end %>
        </div>

        <%# TIMESTAMP %>
        <div class="col s12 m6 right-align no_padding">
          <%= link_to render_timestamp(post.created_at), post, class: "btn-flat waves-effect waves-red tooltipped", data: {position: 'bottom', delay: '50', tooltip: "Show post on a separate page"} %>
        </div>
      </div>
    </div>

    <!-- Comments -->
    <div class="comments-wrapper white z-depth-1">

      <%= render post.comments %>

      <%= write_comment_for_post_action post %>

    </div>

  </div>
</div>
