<!DOCTYPE html>
<html>
  <head>
    <title>UpshiftNetwork</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

  <%= render "shared/navigation" %>

  <div class="container">
    <%= yield %>
  </div>

  <script type="text/javascript">

    $(document).ready(function() {
      Materialize.toast("<%= notice %>", 5000);
      $('.tooltipped').tooltip({delay: 50});

      $('.dropdown-button').dropdown({
          inDuration: 300,
          outDuration: 225,
          constrain_width: false, // Does not change width of dropdown to that of the activator
          hover: false, // Activate on hover
          gutter: 0, // Spacing from edge
          belowOrigin: true, // Displays dropdown below the button
          alignment: 'right' // Displays dropdown with edge aligned to the left of button
        }
      );

      $(document).ready(function(){
        $('.parallax').parallax();
      });
    });

  </script>

  </body>
</html>
