<!DOCTYPE html>
<html>
  <head>
    <title>UpshiftNetwork</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

  <div id="toast-container" data-turbolinks-permanent></div>

  <%= render partial: "shared/navigation", locals: {fluid: true} %>

  <div class="container-fluid">
    <div class="row no_margin_bottom">
      <div id="desktop_side_navigation" class="col l2 hide-on-med-and-down no_padding z-depth-1">
        <%= render "shared/side_navigation" %>
      </div>
      <div class="col l8 push-l1 m12 s12">
        <%= yield %>
      </div>
    </div>
  </div>

  <!-- show flash message -->
  <script type="text/javascript">
    show_notice("<%= notice %>", 5000);
  </script>

  </body>
</html>
