<!DOCTYPE html>
<html>
  <head>
    <title>UpshiftNetwork</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

  <div class="container-fluid">
    <%= yield %>
  </div>

  <script type="text/javascript">

    $(document).ready(function() {
      Materialize.toast("<%= notice %>", 5000);
    });

  </script>

  </body>
</html>
