<div class="page_heading z-depth-1">
  <h3>Settings</h3>
</div>

<noscript>
  <%= notice %>
</noscript>

<h5 class="page_subheading">Edit Your Profile</h5>
<div class="row">
  <div class="col s12">
    <p>To change your name, profile visibility, color scheme, and other profile
      settings, click the button to edit your profile.</p>

    <%= link_to "Edit Profile", edit_user_path, class: "primary-color primary-color-text btn waves-effect waves-light" %>
  </div>
</div>

<h5 class="page_subheading">Your Email Address</h5>
<div class="row">
  <div class="input-field col s12">
    <i class="mdi mdi-email mdi-inactive mdi-dark prefix"></i>
    <input disabled value="<%= @account.email %>" type="text">
    <p>At this time, you cannot change your email address.</p>
  </div>
</div>

<h5 class="page_subheading">Change Your Password</h5>
<div class="row no_margin">
  <%= form_for @account, url: update_account_path, id: "change_password", class: "col s12 no_padding" do |f| %>
    <%= f.hidden_field :update_password, :value => true %>
    <div class="row no_margin_bottom">
      <div class="input-field col s12">
        <i class="mdi mdi-key prefix"></i>
        <%= f.password_field :current_password %>
        <%= f.label :current_password, "Current password" %>
      </div>
    </div>
    <div class="row no_margin_bottom">
      <div class="input-field col s12">
        <i class="mdi mdi-key-plus prefix"></i>
        <%= f.password_field :password %>
        <%= f.label :password, "Choose a new password" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="mdi mdi-key-change prefix"></i>
        <%= f.password_field :password_confirmation %>
        <%= f.label :password_confirmation, "Confirm your new password" %>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button class="primary-color primary-color-text btn waves-effect waves-light" type="submit" name="action">
          Change Password
        </button>
      </div>
    </div>
  <% end %>
</div>

<h5 class="page_subheading">Delete Your Account</h5>
<div class="row">
  <div class="input-field col s12">
    <%= form_tag delete_account_path, method: :post do %>
      <button class="primary-color primary-color-text btn waves-effect waves-light" type="submit" name="action">
        Delete Account
      </button%>
    <% end %>
  </div>
</div>
